<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body class="bg-gray-100">
  <%- include('partials/header') %>

  dsadsadsa
  

</body>

<%- include('partials/footer') %>
</html>