<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body class="bg-gray-100">
  <%- include('partials/header') %>
  
  <main class="container mx-auto px-6 py-8">
    <div class="bg-white rounded-lg shadow-md p-8 max-w-md mx-auto">
      <h1 class="text-3xl font-bold mb-6 text-center">Register</h1>
      <form action="/register" method="POST">
        <div class="mb-4">
          <label for="nickName" class="block text-gray-700 mb-2">What Should we call you? (Nickname/Username)</label>
          <input type="text" id="nickName" name="nickName" required class="w-full px-3 py-2 border rounded">
        </div>
      <label for="nickName" class="block text-gray-700 mb-2">__________________________________________________________</label>
        <div class="mb-4">
            <label for="firstName" class="block text-gray-700 mb-2">First Name:</label>
            <input type="text" id="firstName" name="firstName" required class="w-full px-3 py-2 border rounded">
        </div>
        <div class="mb-4">
            <label for="middleName" class="block text-gray-700 mb-2">Middle Name:</label>
            <input type="text" id="middleName" name="middleName" required class="w-full px-3 py-2 border rounded">
        </div>
        <div class="mb-4">
          <label for="lastName" class="block text-gray-700 mb-2">Last Name:</label>
          <input type="text" id="lastName" name="lastName" required class="w-full px-3 py-2 border rounded">
      </div>
        <div class="mb-4">
          <label for="gender" class="block text-gray-700 mb-2">Gender:</label>
          <select id="gender" name="gender" required class="w-full px-3 py-2 border rounded">
              <option value="" disabled selected>Select your gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Prefer not to say">Prefer not to say</option>
          </select>
      </div>
        <div class="mb-4">
            <label for="email" class="block text-gray-700 mb-2">Email:</label>
            <input type="email" id="email" name="email" required class="w-full px-3 py-2 border rounded">
        </div>
        <div class="mb-6">
            <label for="password" class="block text-gray-700 mb-2">Password:</label>
            <input type="password" id="password" name="password" required class="w-full px-3 py-2 border rounded">
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Register</button>
    </form>
    
      <p class="mt-4 text-center">
        Already have an account? <a href="/login" class="text-blue-500 hover:underline">Login here</a>
      </p>
    </div>
  </main>
  <%- include('partials/footer') %>
</body>
</html>
