<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body class="bg-gray-100">
  <%- include('../partials/header') %>
  <h1>this is kids</h1>
  

  <%- include('../partials/footer') %>
</body>
</html>
